<div class="comment-child text-center " data-id="<%= comment.id %>">

  <div class="edit-button" id="comment-form-holder-<%= comment.id %>">
  </div>


  <div id="comment-container-<%=comment.id%>" >
  <h3><%= comment.body %></h3>
    <div class="control-panel">
        <% if comment.user == current_user %>
          <%= link_to "Edit Comment ", edit_topic_post_comment_path(topic,post,comment), remote: :true, class: "btn btn-success" %>
        <% end %>

        <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
          <%= link_to "Delete ", topic_post_comment_path(topic,post,comment), method: :delete,remote: :true, class: "btn btn-warning "  %>
        <% end %>
    </div>

    <div class="votes" >
      <%= link_to fa_icon("thumbs-up 2x"), upvote_path(comment_id: comment.id), method: :post, remote: true, class: "upvote"  %>
      <%= link_to fa_icon("thumbs-down 2x"), downvote_path(comment_id: comment.id), method: :post, remote: true, class: "downvote" %>
      <div class="votes-score">
        <%= comment.total_votes %>
      </div>
    </div>
  </div>
</div>
