<div class="comments-parent" data-id = "<%= @post.id %>">

    <div class=" text-center">
        <h1 class="post_title"><%= @post.title %></h1>
    </div>

    <%= button_to "Edit This Post", edit_topic_post_path(@topic,@post), :method => :get %>
    <%= button_to "Delete This Post", topic_post_path(@topic,@post), :method => :delete %>

    <div id="comments">
        <div class="comment_head text-center">
            <h1>Comments</h1>
        </div>

        <div class="comment_big_container">

            <% if @comments.any? %>

            <% @comments.each do |comment| %>
            <%= render partial: "comment", locals: { comment: comment, post: @post, topic: @topic, extra_class: '' } %>
            <% end %>

        <% else %>
            Nothing to see here.
            <% end %>
        </div>
    </div>

    <div class="paginate text-center">
        <%= paginate @comments %>
    </div>


</div>

    <div id="comments-form-container">
        <%= render partial: "comment_create_form", locals: { comment: @comment, post: @post, topic: @topic} %>
    </div>
