<div class="landing">
  <div class="background">
    <div class="content">
      <h1> Hello World </h1>
    </div>
  </div>

  <div class="background-2">
    <div class="content text-center">
      <h2> Where cool people meet </h2>
      <p>
        cool people cool people cool people
      </p>
    </div>
  </div>

  <div class="background-3">
    <div class="content text-center">
      <h3> COOL </h3>
    </div>
  </div>


  <section class="features-container">

    <h3 class="features-title text-center">
      Features
      <hr class="short-underline">
    </h3>

    <div class="features text-center">
      <div class="feature">
        <%= fa_icon "globe 4x" %>
        <h3> Building Global Communities </h3>
      </div>
      <div class="feature">
        <%= fa_icon "instagram 4x" %>
        <h3> Connect Us everywhere </h3>
      </div>
      <div class="feature">
        <%= fa_icon "bicycle 4x" %>
        <h3> Easy to Access </h3>
      </div>
      <div class="feature">
        <%= fa_icon "hand-peace-o 4x" %>
        <h3> We are friendly! </h3>
      </div>
    </div>
  </section>

  <div class="gridphotos-class">

    <div class="photosbox">
      <div class="invisible-layout">
        <div class="img_content">
          <h3>I'm a watch!</h3>
        </div>
      </div>
      <%= image_tag "photos_3", class: "img-responsive img-thumbnail" %>
    </div>
    <div class="photosbox">
      <div class="invisible-layout">
        <div class="img_content">
          <h3>The World</h3>
        </div>
      </div>
      <%= image_tag "photos_4", class: "img-responsive img-thumbnail"%>
    </div>
    <div class="photosbox">
      <div class="invisible-layout">
        <div class="img_content">
          <h3>Wood!</h3>
        </div>
      </div>
      <%= image_tag "photos_5", class: "img-responsive img-thumbnail" %>
    </div>
    <div class="photosbox">
      <div class="invisible-layout">
        <div class="img_content">
          <h3>Flowers</h3>
        </div>
      </div>
      <%= image_tag "photos_6", class: "img-responsive img-thumbnail" %>
    </div>

  </div>

  <section class="contact-information text-center">
    <h4 class="contact text-center" >
      Sharing Information
      <hr class="short-underline">
    </h4>
    <p class="contact-information text-center">
      Share whatever you got !!! Share anything!! Share it anywhere!
    </p>
    <br>
    <p> Yeah, don't hesitate! just SHARE!! </p>

  </section>

  <div class="information-images text-center">

    <div class="information-feature">
      <%= fa_icon "phone 4x" %>
      <h3> +601234567 </h3>
    </div>
    <div class="information-feature">
      <%= fa_icon "envelope 4x" %>
      <h3> wahaha@hotmail.my </h3>
    </div>

  </div>
</div>
