<div class="topic">

  <div class="topic_head text-center">
  <h1>Topics</h1>
  </div>


  <div class= "topic_big_container">
  <% @topics.each do |topic| %>
      <div class= "topic_individual text-center">
      <h3><%= topic.title %></h3>
      <h5><%= topic.description %></h5>
      <%= link_to topic.title, topic_posts_path(topic,@post) %>
      </div>
    <% end %>
  </div>


  <div class= "create_new_topic text-center">

    <%= form_for(@topic, url: topics_path, html: { id: "topic-create-form" }) do |f| %>
      <h1 class="text-center">
        Create Your New Topic Here!!
      </h1>

        <div class="form-group">
          <h1 class="text-center"> Topic Image </h1>
          <div id="preview-image">
            <% if @topic.image? %>
              <%= image_tag @topic.image, class: "img-settings img-responsive center-block" %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
        <%= f.file_field :image, id: "topic_image_field", class: 'form-control image-uploader' %>
        </div>

      <div class="form-group">
        <h4> <%= f.label :title_field, "Title" %> </h4>
        <%= f.text_field :title, required: true, id: "topic_title_field", class: 'form-control' %>
      </div>

      <div class="form-group">
        <h4> <%= f.label :text_field, "Description" %> </h4>
        <%= f.text_field :description, id: "topic_description_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Create Topic", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

  </div>

</div>
