<div class="modal fade" id="modalregister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register your new account here!</h4>
      </div>
      <div class="modal-body">
        <div class="users">

            <%= form_for(:user, url: users_path, html: { id: "user-create-form" }) do |f| %>
              <h1 class="text-center">
                Register New Account
              </h1>

              <div class="form-group">
                <h4> <%= f.label :username_field, "Username" %> </h4>
                <%= f.text_field :username, id: "user_username_field", class: 'form-control' %>
              </div>

              <div class="form-group">
                <h4> <%= f.label :password_field, "Password" %> </h4>
                <%= f.password_field :password, id: "user_password_field", class: 'form-control' %>
              </div>

              <div class="form-group">
                <h4> <%= f.label :email_field, "Email" %> </h4>
                <%= f.email_field :email, id: "user_email_field", class: 'form-control' %>
              </div>

              <div class="form-group">
                <h4 class="text-center"> User Image </h4>
                <div id="preview-image">
                    <%= image_tag "", class: "img-settings img-responsive center-block" %>

                </div>
              </div>

              <div class="form-group">
              <%= f.file_field :image, id: "user_image_field", class: 'form-control image-uploader' %>
              </div>

              <div class="form-group text-center">
                <%= f.submit "Create New User", class: "btn btn-success btn-lg" %>
              </div>

              <% end %>

            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
