<div class="post">

  <div class="Topic-header">
    <div class="topic title text-center">
      <h3><%= @topic.title %></h3>
    </div>


    <div id="preview-image">
      <% if @topic.image? %>
        <%= image_tag @topic.image, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>

    <%= button_to "Edit This Topic", edit_topic_path(@topic), :method => :get %>
    <%= button_to "Delete This Topic", topic_path(@topic), :method => :delete %>
  </div>

  <div class="post-content">
    <div class="big_header text-center">
      <h1>Posts</h1>
    </div>

    <div class="post_big_container">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: {post: post, topic: @topic } %>
    <% end %>
    </div>

    <div class="paginate text-center" >
      <%= paginate @posts %>
    </div>



    <div id="posts-form-container">
        <%= render partial: "post_create_form", locals: {  post: @post, topic: @topic} %>
    </div>
  </div>

</div>
